body {
    padding: 0px;
    font-family: 'Lucida Grande', sans-serif;
    margin: 0px;
	/*color: rgb(136, 136, 136);*/
    color: rgb(48, 57, 66);
	font-size: 11px;
}

.resizing {
	-webkit-user-select: none;
}

#requestsContainer {
	flex: auto;
	overflow: scroll;
}

#sidebar {
	-webkit-user-select: none;
	overflow: scroll;
	background: #eee;
	border-right: 1px solid #bbb;
	box-sizing: border-box;
	width: 231px;
	flex: none;
}

.request-item a {
    color: rgb(48, 57, 66);
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
	height: auto;
	line-height: 12px;
	list-style-type: none;
	text-align: left;
	white-space: nowrap;
	max-width: 70%;
	text-decoration: none;
	padding: 4px 0px;
	margin: -4px 0px;
}

.request-item:hover a {
	text-decoration: underline;
	font-weight: bold;
}

#requestItem {
	display: none;
}

.request-item-url {
	display: none;
}

.request-item-actions {
	padding-right: 4px;
	margin-top: -1px;
	opacity: 0.4;
	float: right;
}

.request-item:hover .request-item-actions {
	opacity: 1;
}

.request-item-action-button {
	cursor: pointer;
	padding: 4px 8px 5px 8px;
	font-weight: bold;
	font-size: 10px;
}

.request-item-loading-spinner {
	display: none;
}

.request-item-discard-changes {
	visibility: hidden;
	font-weight: normal;
}

.request-item-loading .request-item-loading-spinner {
	display: inline;
}

.request-item-modified .request-item-discard-changes {
	visibility: visible;
}

.request-item-modified.request-item-removed .request-item-discard-changes {
	visibility: hidden;
}

.log-item {
	flex: none;
	padding: 4px 0px 3px 4px;
	font-family: Menlo, monospace;
	font-size: 11px;
	color: green;
}

.request-item {
	flex: none;
	padding: 4px 0px 3px 4px;
}

.request-item:nth-child(odd) {
	background-color: #eee;
}

.request-item-modified-badge {
	cursor: default;
	float: left;
	border-radius: 3px;
	background: rgb(255, 224, 0);
	margin-right: 5px;
	display: none;
	border: 1px solid rgb(255, 204, 0);
	box-sizing: border-box;
	box-shadow: 0px 1px 0px 0px #B3A500;
	margin-top: -1px;
	color: rgb(70, 70, 70);
	font-size: 9px;
	padding: 0px 4px;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.46);
}

.request-item.request-item-modified .request-item-modified-badge {
	display: inline;
}

.sidebar-list-item {
	color: black;
	text-shadow: 0px 1px white;
}

.sidebar-list-item-big {
	font-weight: bold;
	padding: 10px;
}

.sidebar-list-item, .sidebar-list-item div, .sidebar-list-item span {
	cursor: default;
}

.sidebar-list-item.selected {
	color: white;
	background: rgb(56, 121, 217);
	text-shadow: 0px 1px black;
}

.sidebar-list-item-title {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.sidebar-list-item-subtitle {
	font-weight: normal;
	text-shadow: none;
	color: #777;
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.sidebar-list-item-checkbox input {
	float: left;
	margin: 7px 8px 7px 0px;
}

.sidebar-list-item.selected .sidebar-list-item-subtitle {
	color: white;
}

.sidebar-list-header {
	color: rgb(92, 110, 129);
	text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
	padding: 4px 8px;
	font-weight: bold;
}

.split-view {
	flex: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.view {
	flex: auto;
}

.hbox {
	display: flex;
	flex-direction: row !important;
}

.vbox {
	display: flex;
	flex-direction: column !important;
	position: relative;
}

#rulesListItem {
	display: none;
}

.rules-list-item {
	height: 27px;
	white-space: nowrap;
	margin: 5px;
	clear: left;
}

.right-pane {
	width: 100%;
}

.toolbar {
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#d9d9d9 100%);
	border-bottom: 1px solid #bbb;
	height: 23px;
	padding: 0px 3px;
	flex: none;
	line-height: 23px;
	-webkit-user-select: none;
}

.toolbar .label {
	cursor: default;
	text-shadow: 0px 1px white;
	color: #888;
	margin: 0px 4px;
}

.toolbar input {
	border: 1px solid #bbb;
	width: 200px;
	box-shadow: 0px 1px 4px -2px #999 inset, 0px 1px rgba(255, 255, 255, 0.23);
	padding: 1px 3px;
}

.toolbar input:focus {
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 0px;
}

.toolbar .toggle-proxy {
	cursor: pointer;
	float: right;
	line-height: 17px;
	margin: 3px 0px;
	padding: 0px 6px;
	border-radius: 2px;
	color: rgb(99, 99, 99);
	text-shadow: 0px 1px rgba(228, 228, 228, 0.79);
	font-weight: bold;
}

.toolbar .toggle-proxy:hover {
	background: rgba(201, 201, 201, 1);
	margin: 3px 0px;
	box-shadow: 0px 1px rgb(173, 173, 173);
	font-weight: bold;
}

.proxy-enabled .toggle-proxy .dot {
	color: red;
}

.proxy-enabled .toggle-proxy::after {
	content: " Enabled";
}

.toggle-proxy .dot {
	color: #777;
}

.toggle-proxy::after {
	content: " Disabled";
}

.error-message {
	display: none;
	flex: none;
	height: 23px;
	line-height: 23px;
	font-size: 13px;
	text-align: center;
	background: -webkit-linear-gradient(top, #D11D1D 0%,#AD1616 100%);
	color: white;
	text-shadow: 0px 1px black;
	border-bottom: 1px solid rgb(133, 0, 0);
}

.proxy-connection-error .error-message {
	display: initial;
}

.proxy-connection-error .toolbar {
	display: none;
}

.proxy-connection-error #requestsContainer * {
	pointer-events: none;
}

.error-message a {
	color: white;
	font-weight: normal;
}

.split-view-resizer {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 230px;
	margin-left: -2px;
	cursor: ew-resize;
	width: 5px;
	z-index: 1;
}