body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #bbb; }

.header-container-outer {
  overflow: hidden;
  background: url(../images/hero-bg.gif);
  color: white; }

.logo {
  margin-top: 115px; }

.description {
  margin-top: 50px; }

/*.logo .logo-small {

}

.logo .name {
	font-size: 42px;
}

.logo .slogan {
	position: absolute;
	top: 47px;
	left: 2px;
	font-size: 12px;
	color: #888;
}

.logo .alpha {
	position: absolute;
	left: 270px;
	top: 37px;
	font-size: 10px;
}*/
.logo img {
  max-width: 100%; }

.description img {
  max-width: 100%; }

.hero {
  margin: 50px 0px -20px 0px; }

.install-btn {
  cursor: pointer;
  background: #2A2A2A;
  color: white;
  padding: 13px;
  border: 1px solid #4E4E4E;
  text-align: center;
  margin-top: 40px;
  width: 300px;
  font-size: 20px;
  margin-left: 56px; }

.hero-fade {
  height: 45px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.16)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.16) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#29000000',GradientType=0 );
  /* IE6-9 */
  margin-top: -17px;
  border-bottom: 1px solid #636363;
  position: relative;
  z-index: 10; }

.content-container {
  padding: 50px 0px;
  font-size: 15px;
  line-height: 26px;
  background: url(../images/content-bg.png); }

h3 {
  font-size: initial;
  font-weight: 600;
  color: white; }

strong {
  font-weight: 600; }

p.qoute {
  font-style: italic;
  background-image: url(../images/wiki-icon@2x.png);
  background-size: 38px 28px;
  padding: 0px 0px 4px 54px;
  background-position: 7px;
  background-repeat: no-repeat; }

pre {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #40B0D1; }

pre .prompt {
  color: #ddd; }

pre .prompt::before {
  content: "$ "; }

.wiki-link, .wiki-link:hover {
  color: inherit;
  text-decoration: none; }

a {
  text-decoration: underline;
  color: #40B0D1; }

a:hover {
  color: #40B0D1; }

.video-container-outer {
  width: 640px;
  max-width: 82%;
  position: absolute;
  margin-top: 9.9%;
  margin-left: 6.3%;
  z-index: 10;
  border-radius: 4px;
  overflow: hidden; }

.video-container-inner {
  position: relative;
  padding-bottom: 56.25%; }

.video-container-outer iframe {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 1px;
  width: 1px; }

.playing-video .video-container-outer iframe {
  opacity: 1;
  width: 100%;
  height: 100%; }

.hero-container {
  transition: transform 0.4s; }

.header-container {
  transition: transform 0.4s; }

@media (min-width: 992px) and (max-width: 1200px) {
  .hero {
    margin: 0px 0px -60px 0px;
    transform: translateY(50px); }

  .video-container-outer {
    margin-top: 13.6%;
    margin-left: 8.7%;
    max-width: none; }

  .logo {
    margin-top: 75px; }

  .playing-video .hero-container {
    transform: translateY(-40px); }

  .playing-video .header-container {
    transform: translateX(-140px); } }
@media (max-width: 992px) {
  .logo {
    margin-top: 30px; }

  .hero {
    max-width: 100%;
    margin: 10px 0px -20px; }

  .video-container-outer {
    margin-top: 4.8%;
    margin-left: 6.1%;
    max-width: 83.6%; }

  .logo-container {
    text-align: center;
    transform: translateX(-10px); }

  .install-btn {
    margin: 30px auto 0px;
    transform: translateX(24px); } }
